<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> header}}   
    <div class="container">
         <div class="row">             
                <div class="input-group mb-3">
                    <form method="POST" action="/api/logout">
                        <h4><span class="badge bg-secondary">Bienvenido {{ this.user }}</span></h4>
                        <input type="submit" class="btn btn-outline-primary" value="Desloguear" />
                        <!--button class="btn btn-outline-primary" type="button" id="bttDeslogear">Desloguear</button-->
                    </form>
                </div>

         </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                {{{body}}}
            </div>
             <div class="col-md-5">
                {{> chat ListaMensajesChat=this.ListaMsjChat }}
            </div>
        </div>
        <!--div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{> chat ListaMensajesChat=this.ListaMsjChat }}
            </div>
            <div class="col-md-3"></div>
        </div-->
    </div> 
    <script src="/socket.io/socket.io.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script> 

    <script>
    


        const socket = io();
        let usermail = "";
        //Chat
        $('#bttSendMsg').on('click', function(event) {
            if($('#msg').val() !== ""){
                if(usermail == ""){
                    if($('#correo').val()!==""){
                        usermail =  $('#correo').val();
                    }
                }
                if(usermail!==""){
                    let date = new Date(Date.now());

                    socket.emit('New chatMsg', {
                        msg: $('#msg').val(),
                        mail: usermail,
                        time: date
                    });
                }else{
                    alert("Debe ingrear un correo para enviar mensajes.");
                }
            }else{
                alert("Debe ingrear un mensaje para enviar.");
            }
        });

        socket.on('new message', (data) => {           
            $("#ListChatMsg").append($('<li>')
                                     .append($('<span>')
                                             .addClass('correoChat')
                                             .text(`${data.mail} `)
                                     )
                                     .append($('<span>')
                                             .addClass('timeChat')
                                             .text(`[${data.time}]: `)
                                     )
                                     .append($('<span>')
                                             .addClass('msjChat')
                                             .text(data.message)
                                     )
                                     
                                )
                $('#msg, #correo').val("")
            });

        //Agregar productos
        $('#bttSaveProds').on('click', function(event) {
            event.preventDefault();

            socket.emit('dataProds', {
                nombre: $('#nombre').val(),
                descripcion:  $('#descripcion').val(),
                codigo: $('#codigo').val(),
                foto: $('#foto').val(),
                precio: $('#precio').val(),
                stock: $('#stock').val()
            });
        });

        socket.on('ProductoAgregado', data => {

            if($("#tblProds").find(' tbody tr:first')[0].innerText == "No hay productos"){
                $("#tblProds tbody tr").remove(); 
            }
            //Mostrar producto en la tabla
            const { nombre, descripcion, codigo, foto, precio, stock } = data  
            $("#tblProds").find('tbody')
                .append($('<tr>')
                    .append($('<td>')
                        .text(title)
                    )
                    .append($('<td>')
                        .text(price)
                    )
                    .append($('<td>')
                        .append($('<img>')
                            .attr('src', thumbnail)
                            .addClass('imgTbl img-fluid img-thumbnail')
                        )
                    )
                );             
            $('#nombre, #descripcion, #codigo, #foto, #precio, #stock').val("")
        });
            
    </script>
</body>
</html>