extends ../layouts/index
block content
    div.container   
        div.row
            div.col-md-4
            div.col-md-4
                h3.text-center='Listado de Productos'
                div.table-responsive
                    div.row
                        a.linkDerecha(href="/api/productos/vistaAddProducto") Agregar Producto [+]
                    table.table.table-striped
                        thead
                            th.col-md-4 Producto
                            th.col-md-4 Precio
                            th.col-md-4 Foto
                        tbody
                            each producto in ListaProductos
                                tr
                                td.middtext.col-md-4 #{producto.title}
                                td.middtext.col-md-4 #{producto.price}
                                td.middtext.col-md-4 
                                    img.imgTbl.img-fluid.img-thumbnail.image(src=producto.thumbnail)
                            else
                                tr
                                td(colspan="3") No hay productos          
            div.col-md-4

